/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", Arial, Helvetica, sans-serif;
}

:root {
  --black: #18181b;
  --dark-grey: #52525a;
  --green: #4ca154;
  --ivory: #fafaf9;
  --light-grey: #d4d4d8;
  --yellow: #f5c044;
  --white: #fff;
}

/* || Main Style */

.header-image-container {
  align-items: center;
  background-color: var(--yellow);
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: 1.5rem;
  width: 2rem;
}

.star-symbol {
  font-size: 1.5rem;
}

.checklist-item {
  align-items: center;
  display: flex;
}

.review-image-container {
  align-items: center;
  display: flex;
}
